.snackbar{
    margin-left          : auto !important;
    margin-right          : auto !important;
    background-color: rgba(55, 55, 55, 0.8) !important;
    color           : #fff !important;
    margin-top: 100px !important;
  }
.upperCase{
  text-transform: uppercase;
  color: #444;
  font-size:12px;
  width: 10%;
}

.container {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  max-width: 98%;
}
