@import '~bootstrap/dist/css/bootstrap.min.css';

html,
body {
    height: 100%;
}

body {
    margin     : 0;
    font-family        : "Avenir", sans-serif;
}

.toolbar-padding {
    padding-top: 64px;
    height     : 100%;
}

a.ff-link:hover {
    color          : #3583a1 !important;
    text-decoration: none;
    font-weight    : bold;
}

.white-text {
    color: #fff;
}

.cdk-visually-hidden {
    display: none !important;
    visibility: hidden !important;
}


button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
}