.button-section button {
    margin          : 0.5rem;
    background-color: #2d79db;
    border          : none;
    color           : white;
    padding         : 5px 10px;
    border-radius   : 5px;
    text-align      : center;
    text-decoration : none;
    font-size       : 16px;
}

.button-section button:hover {
    background-color: #2367be;
}

.button-section button:disabled {
    opacity: 0.6;
  cursor: not-allowed;
}

.title-section input{
    width: 95%;
    margin: 0.5rem;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 12px 20px;
    font-size: 18px;
}

.editor-section{
    padding: 0.5rem;
    height: 100%;
}