.button-section button {
    margin          : 0.5rem;
    background-color: #2d79db;
    border          : none;
    color           : white;
    padding         : 5px 10px;
    border-radius   : 5px;
    text-align      : center;
    text-decoration : none;
    font-size       : 16px;
}

.button-section button:hover {
    background-color: #2367be;
}

.button-section button:disabled {
    opacity: 0.6;
  cursor: not-allowed;
}

.title-section input{
    width: 95%;
    margin: 0.5rem;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 12px 20px;
    font-size: 18px;
}

.editor-section{
    padding: 0.5rem;
    // height: 100%;
}

.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 100px;
    font-size: 16px;
  }

  .snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }